::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 50); 
}

#src {
    background: #1e1e1e;
    caret-color: #d4d4d4;
}

code[class*="language-"], pre[class*="language-"] {
    color: #d4d4d4;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: #a2a2a2;
}

.token.property, .token.tag, .token.boolean, .token.constant, .token.symbol, .token.deleted {
    color: #2c7ad6;
}

 .token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
    color: #9cdcfe;
}

.token.entity, .token.url, .language-css .token.string, .style, .token.string, .token.attr-value {
    color: #ce9178;
}

.token.function, .token.class-name {
    color: #dcdc9d;
}

.token.number {
    color: #b5ce9b;
}

.token.operator {
    color: #d4d4d4;
}

.token.keyword {
    color: #a586b6;
}
