@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
@import url(https://use.fontawesome.com/releases/v5.7.0/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

:root {
    --text-size: 19px;
    --indent-size: 4;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #cccccc;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

html, body {
    overflow: hidden;
}

html, body, #page, .row {
    padding-top: 0.8rem;
    height: 100%;
}

.noGlow, .noGlow:focus {
    border: none;
    box-shadow: none;
    outline: 0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

#result {
    margin: 0;
    border: none;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
}

#src, .code-output {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    padding-top: 5rem;
    padding-left: 2rem;
}

#src {
    resize: none;
    outline: 0;
    box-shadow: none;
}

#src, code[class*="language-"], pre[class*="language-"] {
    font-family: 'Inconsolata', monospace;
    -moz-tab-size: var(--indent-size);
    -o-tab-size: var(--indent-size);
    tab-size: var(--indent-size);
    font-size: var(--text-size);
    word-wrap: break-word;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: 1.5;
    white-space: pre;
    text-align: left;
}

code[class*="language-"], pre[class*="language-"] {
    background: transparent;
    text-shadow: none;
}

#resultCol {
    padding-left: 1rem;
    padding-top: 0rem;
    /* height: calc(50% - 3px); */
}

.code-output {
    pointer-events: none;
    z-index: 3;
    overflow: hidden;
    background: transparent;
}

.nav-item {
    padding: 5px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
}

.size-plus-btn, .size-minus-btn {
    border: 1px solid lightgray;
    z-index: 4;
    position: fixed;
    bottom: 26px;
    opacity: 0.4;
    transition: all 0.3s;
}

.size-plus-btn:hover, .size-minus-btn:hover {
    opacity: 1;
}

.close {
    transition: 0.3s;
}

.size-plus-btn {
    left: calc(50% - 58px);
}

.size-minus-btn {
    left: calc(50% - 107px);
}

.codeCol {
    position: relative;
}

#removeLib {
    opacity: 0;
    -webkit-animation: fadeIn 0.3s linear forwards;
    animation: fadeIn 0.3s linear forwards;
}

.deleteLib {
    -webkit-animation: scaleFadeOut 0.2s linear;
    animation: scaleFadeOut 0.2s linear;
}

#delete, #export {
    border-radius: 10rem;
    padding: 10px 20px;
}

#delete:hover, #export:hover {
    animation: rotate 0.7s ease-in-out both;
}

#addLib, #deleteLib {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transition: all 0.5s;
    overflow: hidden;
}
  
#addLib:hover, #deleteLib:hover {
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 13px;
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
}
  
.addLib-content, .deleteLib-content {
    line-height: 40px;
    color: #fff;
    width: 140px;
    position: relative;
    transition: all 1s;
    left: 140px;
    height: 55px;
}
  
.addLib-content:before, .deleteLib-content:before {
    position: absolute;
    right: 225px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: #fff;
}
  
#addLib:hover .addLib-content, #deleteLib:hover .deleteLib-content {
    line-height: 40px;
    color: #fff;
    width: 100px;
    transition: all 1s;
    height: 40px;
    border-radius: 8px;
}

.addLib-content:before {
    content: '+';
}

.deleteLib-content:before {
    content: '-';
}

#addLib {
    background: #007bff;
}

#deleteLib {
    background: #dc3545;
}

#addLib:hover {
    background: #006de2;
}

#deleteLib:hover {
    background: #c53140;
}

#addLib:hover .addLib-content {
    left: 35px;
    background-color: #006de2;
}


#deleteLib:hover .deleteLib-content {
    left: 20px;
    background-color: #c53140;
}

#page {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#load {
    top: 30%;
    left: 42%;
    width: 100%;
    height: 100%;
    position: fixed;
}

#loader {
    width: 260px;
    height: 2px;
    margin-top: 22px;
    background-color: #cfcfcf;
    position: relative;
    overflow: hidden;
}

#loader::before {
    content: "";
    width: 136px;
    height: 2px;
    background-color: #0073b1;
    position: absolute;
    left: -34px;
    animation: bluebar 1.5s infinite ease;
    -webkit-animation: bluebar 1.5s infinite ease;
}

@keyframes bluebar {
    50% {
        left: 192px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes scaleFadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
 
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.gutter {
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    height: 100%;
    cursor: col-resize;
}

.gutter.gutter-vertical {
    width: 100%;
    cursor: row-resize;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background-color: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background-color: #b3d4fc;
}

@media print {
    code[class*="language-"], pre[class*="language-"] {
        text-shadow: none;
    }
}

pre[class*="language-"] {
    overflow: hidden;
}

:not(pre) > code[class*="language-"] {
    border-radius: .3em;
    white-space: normal;
}

.namespace {
    opacity: 0.7;
}

.token.atrule {
    color: #2c7ad6;
}

.token.important, .token.bold {
    font-weight: bold;
}

.token.url {
    text-decoration: underline;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
