@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
@import url(https://use.fontawesome.com/releases/v5.7.0/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

:root {
    --text-size: 19px;
    --indent-size: 4;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #cccccc;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

html, body {
    overflow: hidden;
}

html, body, #page, .row {
    padding-top: 1rem;
    height: 100%;
}

.noGlow, .noGlow:focus {
    border: none;
    box-shadow: none;
    outline: 0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

#result {
    margin: 0;
    border: none;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
}

#src, .code-output {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    padding-left: 2rem;
    padding-top: 2.5rem;
}

#resultCol {
    padding-right: 0;
    padding-top: 1rem;
}

.nav-item {
    padding: 5px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
}

.size-plus-btn, .size-minus-btn {
    border: 1px solid lightgray;
    z-index: 4;
    position: fixed;
    bottom: 26px;
    opacity: 0;
}

.close {
    transition: 0.3s;
}

.size-plus-btn {
    left: calc(50% - 58px);
}

.size-minus-btn {
    left: calc(50% - 107px);
}

.code-output {
    pointer-events: none;
    z-index: 3;
    overflow-y: auto;
    background: transparent;
}

.codeCol {
    position: relative;
}

#removeLib {
    opacity: 0;
    -webkit-animation: fadeIn 0.3s linear forwards;
    animation: fadeIn 0.3s linear forwards;
}

.deleteLib {
    -webkit-animation: scaleFadeOut 0.2s linear;
    animation: scaleFadeOut 0.2s linear;
}

#delete:hover {
    animation: rotate 0.7s ease-in-out both;
}

#page {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1.5s ease infinite;
    animation: spin 1.5s ease infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes scaleFadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
 
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-color: lightgrey;
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-color: lightgrey;
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background-color: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background-color: #b3d4fc;
}

@media print {
    code[class*="language-"], pre[class*="language-"] {
        text-shadow: none;
    }
}

pre[class*="language-"] {
    overflow: auto;
}

:not(pre) > code[class*="language-"] {
    border-radius: .3em;
    white-space: normal;
}

.namespace {
    opacity: 0.7;
}

.token.atrule {
    color: #2c7ad6;
}

.token.important, .token.bold {
    font-weight: bold;
}

.token.url {
    text-decoration: underline;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
