#src {
    resize: none;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    outline: 0;
    box-shadow: none;
    font-family: 'Inconsolata', monospace;
    font-size: var(--text-size);
    line-height: 1.5;
    background: ffffff;
    caret-color: #000000;
    white-space: pre;
    word-wrap: break-word;
    text-align: left;
}

code[class*="language-"], pre[class*="language-"] {
    color: #000000;
    background: transparent;
    text-shadow: none;
    font-family: 'Inconsolata', monospace;
    font-size: var(--text-size);
    text-align: left;
    white-space: pre;
    word-wrap: break-word;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: #4e4e4e;
}

.token.property, .token.tag, .token.boolean, .token.constant, .token.symbol, .token.deleted {
    color: #800000;
}

 .token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
    color: #ff8200;
}

.token.entity, .token.url, .language-css .token.string, .style, .token.string, .token.attr-value {
    color: #0000ff;
}

.token.function, .token.class-name {
    color: #000000;
}

.token.number {
    color: #09885a;
}

.token.operator {
    color: #000000;
}

.token.keyword {
    color: #0000ff;
}
