::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 30); 
}

#src {
    background: #ffffff;
    caret-color: #000000;
}

code[class*="language-"], pre[class*="language-"] {
    color: #000000;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: #4e4e4e;
}

.token.property, .token.tag, .token.boolean, .token.constant, .token.symbol, .token.deleted {
    color: #800000;
}

 .token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
    color: #ff8200;
}

.token.entity, .token.url, .language-css .token.string, .style, .token.string, .token.attr-value {
    color: #0000ff;
}

.token.function, .token.class-name {
    color: #000000;
}

.token.number {
    color: #09885a;
}

.token.operator {
    color: #000000;
}

.token.keyword {
    color: #0000ff;
}
